@import "tailwindcss";

#root {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

.mapboxgl-popup-content {
  @apply rounded-xl bg-white/60 backdrop-blur-md shadow-lg text-sm text-slate-800 p-3 w-[280px];
}

.mapboxgl-popup-tip {
  @apply !border-t-white/60
}

.rdp-root {
  --rdp-accent-color: rgb(132 204 22);
}


